@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  /*background: purple;*/
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}


input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 20px;
}